*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* started header section */
header{
    display: flex;
    height: 100vh;
    background-color:rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding: 0 100px;
    
}
.header-title{
    color: #272727;
    font-size: 40px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    margin:30px 0;
    font-size: 12px;
}
.btn-primary{
    color: white;
    background-color: #E55473;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
}
.header-img{
    width: 620px;
    height: 800px;
}
/* end header section */


/* start main section */
.featured{
    margin: 130px 20%;
}
.featured-title{
    text-align: center;
}
.title{
    color: #272727;
    font-size: 40px;
    margin-bottom: 20px;
}
.title-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
}
.featured-flower{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 25px;
}
.flower-img{
    height: 350px;
    width: 220px;
    padding: 80px 60px 0 60px;
    border-radius: 300px 300px 0 0;
    margin-top: 50px;
    margin-bottom: 30px;
}
#pink{
    background: rgba(167, 33, 98, 0.15);
}
#mixed{
    background: rgba(5, 151, 160, 0.15);
}
#yellow{
    background-color: rgba(71, 125, 17, 0.15);
}
.fig-title{
    color: #272727;
    font-size: 20px;
    text-decoration-line: underline;
}
.support{
    display: flex;
    justify-content:space-between;
    gap: 100px;
    text-align: center;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 10px;
    padding: 50px 170px;
    height: 100px;
    width: 730px;
    margin: auto;
}
.icon-img{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.support-item-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 13px;
}
.section-2{
    display: flex;
    margin-top: 100px;
    height: 70vh;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    justify-content: space-around;
}
.hot-deal{
    text-align: center;
}
.hot-deal-tital{
    color: #272727;
    font-size: 27px;
}
span{
    color: #E55473;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.hot-deal-img{
    height: 400px;
    width: 300px;
}
.section-3{
    margin-top: 130px;
    text-align: center;
}
.insta-tital{
    color: #272727;
    font-size: 40px;
    margin-bottom: 25px;
}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    margin-bottom: 45px;
}
.insta-img{
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
}
.insta-img-file{
    height: 280px;
    width: 220px;
    margin-bottom: 120px;
}
.section-4{
    height: 380px;
    width: 1070px;
    margin:auto;
    padding: 80px 0 0 0;
    background-image: url('../asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
.latest-deal-tital{
    color: #272727;
    font-size: 40px;
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.email{
    width: 500px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 10px;
}
/* end main section */

/* start footer section */
.last-section{
    height: 150px;
    color: #fff;
    background-color: #111010;
    text-align: center;
    padding: 80px;   
}
.footer-tital{
    font-size: 40px;
}
.footer-descrription{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    margin: 25px;
}
.last-line{
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
}
/* end footer section */

